# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Django
db.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

District_Master.csv
Django_DotNet_API_to_Django_documentation.docx
Hobli_Master.csv
Taluk_Master.csv